# temporary files
*~
/.make

# Emacs Lisp compiled files 
*.elc

# exported files except those required for testing
*.html
!expect*.html

# dependency files
/org-plus-contrib
/htmlize

# archive files
*.tar
*.tar.gz
